#footer-container-main {
	width: 100%;

	position: fixed;
	bottom: 0px;
	z-index: 10;
	/* box-sizing: border-box; */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

#footer-inner-container {
	background-color: white;
	border: solid 1px rgb(204, 204, 204);
	box-shadow: 1px 1px 5px 1px rgb(169, 169, 169);
	border-radius: 4px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 50px;
	width: 100%;
	padding: 3px;
	color: black;
}

#footer-text {
	font-family: "IBM Plex Sans Bold", sans-serif;
}

.about-link-container {
	display: flex;
	gap: 10px;
	flex-direction: column;
}
.about-link-div {
	display: flex;
	align-items: center;
	gap: 10px;
}
.about-link-link {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-about-link:hover {
	text-decoration: underline;
	color: rgb(0, 121, 211);
}

@media screen and (max-width: 750px) {
	#footer-text {
		display: none;
	}
	#footer-container-main {
		min-width: fit-content;
	}
	#footer-inner-container {
		gap: 10px;
		width: fit-content;
	}
}
