.create-subreddit-modal {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.subreddit-input-container {
	width: 95%;
	padding: 10px;
	position: relative;
	display: flex;

	border-radius: 4px;
}
.subreddit-input-name {
	width: 100%;
	background-color: rgb(246, 247, 248);
	border-radius: 4px;
	padding: 15px;
	padding-left: 17px;
	border-radius: 4px;
	box-sizing: border-box;
}
.subreddit-input-name:focus,
.subreddit-input-name:hover {
	width: 100%;
}

.subreddit-input-name-label {
	position: absolute;
	top: 23px;
	left: 15px;
	color: rgb(116, 112, 112);
}

.limit {
	color: red;
}

.button-container {
	display: flex;
	justify-content: flex-end;
}
.submit-subreddit-button {
	background-color: rgb(0, 121, 211);
	color: white;
	border-radius: 9999px;
	padding: 4px 16px;
	cursor: pointer;
	border: none;
	height: 32px;
	width: fit-content;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 14px;
}

.modal-title-subreddit {
	display: flex;
	justify-content: space-between;
}

.exit {
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.exit:hover {
	background-color: rgb(246, 247, 248);
	border-radius: 4px;
}
