/* TODO Add site wide styles */
html {
	background-color: rgb(218, 224, 230);
	width: 100%;
	max-width: 100%;
}

body {
	margin: 0px;
	width: 100%;
	max-width: 100%;
}

* {
	font-family: "IBM Plex Sans", sans-serif;
}


