.submit-page-container {
	display: flex;
	justify-content: flex-start;
	width: 80%;
	margin: auto;
	gap: 15px;
	max-width: 1000px;
}

.user-info-card {
	position: sticky;
}
.user-info-card-container-submit {
	margin-top: 25px;
}
