.submit-page-container {
	display: flex;
	justify-content: flex-start;
	width: 80%;
	margin: auto;
    
}

.user-info-card {
	/* margin-top: 55px; */
	position: sticky;
}
.user-info-card-container-submit {
    margin-top: 25px;
}
