.login-form-container {
	height: fit-content;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
	box-sizing: border-box;
}
.signup-login-input {
	background-color: rgb(246, 247, 248);
	padding: 22px 36px 10px 16px;
	border-radius: 9999px;
	min-width: 280px;
	box-sizing: border-box;
	height: 46px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	border: solid 1px white;
	outline: none;
}
input:invalid {
	box-shadow: none;
	outline: none;
	border: none;
}
input[type="text"]:focus.signup-login-input,
input[type="password"]:focus.signup-login-input,
input[type="email"]:focus.signup-login-input {
	outline: solid rgb(204, 85, 42) 1px;
	box-sizing: border-box;
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.input-container {
	position: relative;
}

.input-label {
	position: absolute;
	font-size: 14px;
	top: 5px;
	left: 15px;
	width: 90%;
	transition: font-size 0.45s;
}

.input-label:hover {
	/* font-size: 12px; */
	color: rgb(217, 58, 0);
	/* font-weight: 400; */
}

.move-up-label {
	/* top: 5px; */
	/* font-size: 12px; */
	/* color: rgb(115, 117, 119); */
}

.signup-login-form-button {
	border: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 40px;
	background-color: rgb(217, 58, 0);
	cursor: pointer;
	border-radius: 9999px;
	color: white;
	font-size: 16px;
}

.signup-login-form-button:hover {
	background-color: rgb(204, 85, 42);
}
.signup-login-form-button:active {
	background-color: rgb(204, 85, 42);
	transform: translateY(4px);
}

.errors {
	border: solid 20px red;
}

.error {
	color: red;
}

.errors-container {
	display: flex;
	justify-content: center;
	margin: 5px;
	font-size: 14px;
}
.modal-title {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 65%;
}
.modal-title-text {
	width: fit-content;
}

.exit-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
