.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 49px;
	background-color: white;
	padding: 0px 20px;
	border-bottom: solid 1px rgb(237, 239, 241);
	max-width: 100%;
	/* width: 100%; */
}

.nav-logo {
	height: 32px;
	/* border: none; */
}

.logo-and-subscribed {
	display: flex;
	gap: 20px;
}

.nav-login-signup-container {
	display: flex;
	box-sizing: border-box;
}

.profile-toggle {
	width: fit-content;
	min-width: 4.5rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 0px;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	border: solid 1px white;
}

.profile-toggle:hover {
	border: solid 1px rgb(242, 243, 245);
	box-sizing: border-box;
}

i {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.profile-menu-container {
	position: absolute;
	top: 3rem;
	right: 0px;
	box-sizing: border-box;
	z-index: 5;
}

.profile-menu {
	background-color: white;
	border-radius: 4px;
	border: solid 1px rgb(237, 239, 241);
	font-weight: 400;
	color: rgb(28, 28, 28);
	font-size: 1rem;
	padding: 8px 0px;
	width: 252px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	box-sizing: border-box;
	max-height: 80%;
	overflow-y: scroll;
}

.auth-container-profile-menu {
	display: flex;
}

.profile-menu-el {
	height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 0px 0px 20px;
	box-sizing: border-box;
	color: rgb(28, 28, 28);
	font-weight: 500;
}

.user-links {
	padding-left: 52px;
}

.profile-menu-section-title {
	height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 20px;
	box-sizing: border-box;
	color: rgb(120, 124, 126);
	font-weight: 400;
	font-size: 1rem;
	cursor: auto;
}

.profile-menu-el:hover {
	background-color: rgb(235, 235, 235);
	/* box-sizing: border-box; */
}

.profile-menu-user-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.profile-menu-profile-image-container {
	margin-right: 5px;
}

.profile-menu-profile-image {
	height: 24px;
	width: 24px;
	border-radius: 4px;
}

.profile-menu-username {
	font-size: 0.75rem;
	font-weight: 500;
}

.profile-menu-karma {
	font-size: 0.75rem;
	color: rgb(168, 170, 171);
	font-weight: 500;
}

.profile-menu-user-stats {
	padding-right: 30px;
}

a {
	text-decoration: none;
	color: rgb(28, 28, 28);
}

.no-copyright {
	color: rgb(135, 138, 140);
	font-size: 0.75rem;
	text-align: center;
	font-weight: 400;
	cursor: auto;
	line-height: 16px;
}
.login-signup-container {
	display: flex;
	width: fit-content;
	gap: 10px;
	margin-right: 15px;
}

.login-button {
	line-height: 24px;
	padding: 4px 16px;
	width: 120px;
	border-radius: 9999px;
	border: none;
	background-color: white;
	border: solid 1px rgb(0, 121, 211);
	box-sizing: border-box;
	color: rgb(0, 121, 211);
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup-button {
	line-height: 24px;
	padding: 4px 16px;
	width: 120px;
	border-radius: 9999px;
	border: none;
	background-color: rgb(0, 121, 211);
	color: white;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
}

.login-signup-menu {
	display: flex;
	align-items: center;
	gap: 20px;
}

.submit-post-link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-thin.fa-plus {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	margin: 0px;
	height: 32px;
	width: 32px;
	font-size: 32px;
}
.fa-thin.fa-plus::before {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fa-thin.fa-plus:hover {
	background-color: rgb(235, 235, 235);
}

.search-bar-container {
	/* border: solid 1px rebeccapurple; */
	width: 30%;
	height: 34px;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-bar {
	width: 100%;
	height: 100%;
	background-color: rgb(246, 247, 248);
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	border: solid 1px rgb(237, 239, 241);
}

.search-bar:focus {
	background-color: white;
	border: solid 1px rgb(168, 170, 171);
}

@media screen and (max-width: 1100px) {
	.subreddit-info {
		display: none;
	}

	.login-button,
	.signup-button {
		width: 70px;
		height: 30px;
		font-size: 12px;
		white-space: pre;
	}
}

@media screen and (max-width: 1000px) {
	.nav-container {
		height: 50px;
		padding: 5px;
	}

	.nav-logo {
		height: 30px;
	}

	.search-bar-container {
		height: 40px;
		width: 40%;
	}

	.subscribed-subs-container {
		display: none;
	}

	.logo-and-subscribed {
		align-items: center;
	}

	.login-signup-menu {
		height: 100%;
	}

	.submit-post-link {
		height: 100%;
	}

	.profile-toggle {
		width: fit-content;
		height: 100%;
	}

	.profile-menu-user-info {
		height: 100%;
		width: 100%;
		max-width: 100%;
		min-width: none;
	}

	.profile-menu-profile-image {
		height: 40px;
		width: 40px;
	}

	.profile-menu-username {
		font-size: 20px;
	}

	.login-signup-container {
		margin: 0px;
	}
	.login-signup-container > button {
		width: 75px;
		height: 32px;
	}
	.login-signup-container > div {
		width: 75px;
		height: 32px;
	}

	.profile-menu-user-stats {
		padding: 0px;
	}

	.fa-angle-down {
		display: none;
	}
}
