.edit-subreddit-page-container {
	background-color: rgb(218, 224, 230);
	min-width: 100vh;
	min-height: 96.2vh;
	max-height: 100%;
	display: flex;
	flex-direction: column;
}

.edit-subreddit-top-bar {
	padding: 15px;
	box-sizing: border-box;
	background-color: white;
	height: 40px;
	max-width: 100%;
	display: flex;
	align-items: center;
}

#edit-subreddit-icon {
	height: 20px;
	width: 20px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit-subreddit-link-sub {
	color: rgb(1, 121, 211);
}

.edit-subreddit-page-container-inner {
	display: flex;
	min-height: 100%;
	height: 93.2vh;
}

.edit-subreddit-sidebar {
	width: 33%;
	background-color: rgb(246, 247, 248);
	max-width: 280px;
}

.edit-subreddit-main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 25px;
	box-sizing: border-box;
	gap: 10px;
}

.edit-subreddit-placeholder {
	width: 50%;
	background-color: white;
	width: 640px;
	height: 380px;
	border-radius: 4px;
}

.edit-subreddit-header {
	padding: 0px;
	margin: 0px;
	width: 50%;
	width: 640px;
}

.edit-subreddit-placeholder-content {
	display: flex;
	height: inherit;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.kitteh {
	width: 150px;
	height: 150px;
}

.kitteh-sub-message {
	color: rgb(124, 124, 124);
}

.add-rule-container {
	background-color: rgb(237, 239, 241);
	height: 48px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/* width: 100%; */
	/* max-width: 67%; */
}
.submit-post-button.rules {
	width: fit-content;
}

.no-rules-placeholder {
	background-color: white;
	width: 100%;
	min-width: 100%;
	height: 288px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.no-rules-placeholder-content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 30%;
}

.edit-subreddit-main-content.rules {
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.rules-header-details {
	width: 90%;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.edit-subreddit-header.rules {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.rules-header-details {
	font-size: 14px;
}

.edit-subreddit-rules-map {
	border-radius: 4px;
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 1px;
}
.rules-main-container {
	width: 100%;
	/* max-width: 67%; */
}
.rule-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	width: 100%;
}
.rule-title {
	max-height: 51px;
	padding: 10px;
	width: 100%;
	max-width: 100%;
	border-radius: 4px;
	background-color: white;
	display: flex;
	justify-content: space-between;
}
.sub-rule-details {
	width: 99.9%;
	padding: 10px;

	background-color: rgb(237, 239, 241);
}

.sub-rule {
	display: flex;
	justify-content: center;
	align-items: center;
}

.toggle-rule-detail {
	cursor: pointer;
	color: grey;
}

.toggle-rule-detail:hover {
	color: black;
}

.hide {
	display: none;
}

.fa-gear {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	margin: 0px;
	margin-right: 10px;
}

.rule-modal-container {
	width: 500px;
	height: fit-content;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

.rule-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rule-modal-input {
	display: flex;
	flex-direction: column;
}

#rule-input-rule,
#rule-input-details {
	border: none;
	border: solid 1px lightgray;
	border-radius: 4px;
	outline: none;
	padding: 5px;
}

.rule-interact {
	display: flex;
	align-items: center;
	gap: 10px;
}

.fa-up-right-and-down-left-from-center,
.fa-pencil,
.fa-trash-can.interactive {
	cursor: pointer;
	padding: 0px;
	margin: 0px;
	/* color: rgb(128, 128, 128); */
}

.interactive.fa-trash-can:hover {
	color: red;
}

.rule-index-edit {
	margin-right: 18px;
	padding: 10px;
}

.delete-sub {
	color: red;
}

.delete-sub-container-main {
	/* background-color: white; */
	width: 100%;
	height: 100%;
	padding-left: 25px;
	padding-top: 15px;
}

.delete-sub-container {
	background-color: white;
	width: 808px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.delete-sub-title {
	color: red;
}
.delete-sub-subtitle {
	font-size: 24px;
}
.delete-sub-details {
	max-width: 70%;
}

.delete-sub-button {
	width: fit-content;
	height: 40px;
	border-radius: 4px;
	border: solid 1px red;
	color: red;
	background-color: white;
	cursor: pointer;
}

.delete-sub-button:hover,
.sub-delete-confirm-button:hover {
	background-color: red;
	color: black;
}

.sub-delete-modal-container {
	width: 500px;
	height: 500px;
	background-color: white;

	border-radius: 4px;
	padding: 10px;
	display: flex;
	justify-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}
.delete-sub-final-confirm {
	font-size: 24px;
	text-align: center;
}
.sub-delete-cancel-button {
	font-size: 20px;
	cursor: pointer;
	border-radius: 4px;
	border: solid 1px grey;
	padding: 5px;
	background-color: white;
}
.sub-delete-confirm-button {
	font-size: 20px;
	width: fit-content;
	height: 40px;
	border-radius: 4px;
	border: solid 1px red;
	color: red;
	background-color: white;
	cursor: pointer;
}

.community-settings-container-main {
	width: 100%;
	height: 100%;
	padding-top: 15px;
	padding-left: 25px;
}

.community-settings-container {
	background-color: white;
	width: 100%;
	height: 100%;
	max-height: 800px;
	max-width: 600px;
	padding: 15px 20px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.community-settings-title {
	margin: 0px;
}

.community-settings-subtitle {
	width: 100%;
	padding-bottom: 5px;
	border-bottom: solid 1px rgb(237, 239, 241);
}

.community-settings-input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#sub-name,
#sub-description {
	padding: 10px;
	height: 48px;
	box-sizing: border-box;
	border: solid 1px rgb(237, 239, 241);
	border-radius: 4px;
	max-width: 95%;
	max-height: 95%;
}

.community-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
}
