.home-sub-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 20px;
	background-color: white;
	width: 310px;
	height: fit-content;
	border-radius: 4px;
}

.reccomended-container {
	display: flex;
	justify-content: space-between;
	border-top: solid 1px grey;
	height: 50px;
	min-height: 50px;
	
}

.reccomended-title {
	background-color: rgb(0, 121, 211);
	color: white;
	padding: 10px;
	box-sizing: border-box;
	width: 310px;
	height: 80px;
	min-height: 80px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	display: flex;
	align-items: flex-end;
}

.reccomended-title-text,
.reccomended-sub-name,
.reccomended-sub-number {
	font-family: "IBM Plex Sans Medium", sans-serif;
	font-size: 18px;
	font-weight: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reccomended-sub-name:hover {
	text-decoration: underline;
	color: rgb(0, 121, 211);
}

.reccomended-subs-container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	border-bottom: solid 1px grey;
	border-radius: 4px;
}

.reccomended-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 20px;
}

.home-page-container-main {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 20px;
	flex-direction: column;
	margin-bottom: 100px;
}

.home-page-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;

	gap: 30px;
}

.home-page-feed {
	width: 630px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.sub-home-link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
}

.homepage-no-posts-container {
	width: 100%;
	height: 500px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.splash-info-container {
	margin: auto;
	background-color: white;
	width: 50%;
	height: fit-content;
	padding: 25px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.splash-info-content {
	font-family: "IBM Plex Sans Medium Bold", sans-serif;
}

.splash-about {
	text-decoration: underline;
}

.splash-about:hover {
	color: rgb(0, 121, 211);
}
